
.container-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(114, 204, 162);
}

.container-section-promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(62, 126, 179);
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: aqua;
}